input[type="text"],
input[type="email"],
textarea {

  width: 95%;

}

input[type="text"].half,
input[type="email"].half {

  width: 45%;

}

.isotope-item {

  width: 300px;

}

/*#overlay {

    display: none;

}*/

